<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB6CBA441CC7218900193825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB6CBA581CC7218900193825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB6CBA631CC7218900193825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
